*.js
*.js.map
*.log
*.d.ts
*.tgz
!index.d.ts
!src/*.d.ts
src/angular/index.d.ts
src/angular/index.metadata.json

demo/lib
demo/app/*.js
demo/*.d.ts
demo/platforms
demo/node_modules
demo/.vscode
demo-ng/app/*.js
demo-ng/*.d.ts
demo-ng/platforms
demo-ng/node_modules
demo-ng/.vscode
node_modules
hooks
.vscode/
.idea/
*.DS_Store
bin
!webpack.*.js
