<ActionBar title="My App" class="action-bar">
</ActionBar>
<StackLayout class="page">
    <StackLayout orientation="horizontal" class="p-10">
        <CheckBox #modelCheck [(ngModel)]="checkTest" class="checkbox"></CheckBox>
        <Label text="Test NgModel" (tap)="modelCheck.toggle()"></Label>
    </StackLayout>
    <StackLayout class="form-group" [formGroup]="formGroup" orientation="horizontal" class="p-10">
        <CheckBox #reactiveCheck class="checkbox" formControlName="testCheck"  class="checkbox"></CheckBox>
        <Label text="Test Reactive FormGroup" (tap)="reactiveCheck.toggle()"></Label>
        
    </StackLayout>
    <StackLayout class="p-10">
        <Button text="Submit Values" (tap)="submit()" class="btn btn-primary"></Button>
    </StackLayout>
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"
                class="list-group-item"></Label>
        </ng-template>
    </ListView>
</StackLayout>
