demo-ng/
screens/
app/
hooks/
.idea/
.vscode/
demo/
*.png
*.log
screens/
gruntfile.js
*.map
*.ts
!*.d.ts
tsconfig.json
scripts/*
platforms/android/*
!platforms/android/include.gradle
!platforms/android/*.aar
!platforms/android/*.jar
README.md
